
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>


    Sou o Controller - @ViewBag.Controller

    <br/>

    Sou a Action = @ViewBag.Action

</div>
</body>
</html>
