USE [Quiron]
GO
/****** Object:  Table [dbo].[Modalidade]    Script Date: 28/08/2015 21:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modalidade](
	[ModalidadeId] [int] IDENTITY(1,1) NOT NULL,
	[ModalidadeCodigo] [char](4) NOT NULL,
	[ModalidadeDescricao] [nvarchar](155) NOT NULL,
 CONSTRAINT [PK_Modalidade] PRIMARY KEY CLUSTERED 
(
	[ModalidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Modalidade] ON 

GO
INSERT [dbo].[Modalidade] ([ModalidadeId], [ModalidadeCodigo], [ModalidadeDescricao]) VALUES (1, N'0134', N'SKATE')
GO
INSERT [dbo].[Modalidade] ([ModalidadeId], [ModalidadeCodigo], [ModalidadeDescricao]) VALUES (2, N'0001', N'CASUAL')
GO
INSERT [dbo].[Modalidade] ([ModalidadeId], [ModalidadeCodigo], [ModalidadeDescricao]) VALUES (3, N'0002', N'CAMPING')
GO
SET IDENTITY_INSERT [dbo].[Modalidade] OFF
GO
