USE [Quiron]
GO
/****** Object:  Table [dbo].[Linha]    Script Date: 17/09/2015 07:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Linha](
	[LinhaId] [int] IDENTITY(1,1) NOT NULL,
	[LinhaCodigo] [char](4) NOT NULL,
	[LinhaDescricao] [nvarchar](155) NOT NULL,
 CONSTRAINT [PK_Linha] PRIMARY KEY CLUSTERED 
(
	[LinhaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Linha] ON 

GO
INSERT [dbo].[Linha] ([LinhaId], [LinhaCodigo], [LinhaDescricao]) VALUES (1, N'0000', N'NSA')
GO
INSERT [dbo].[Linha] ([LinhaId], [LinhaCodigo], [LinhaDescricao]) VALUES (2, N'0001', N'BRASIL')
GO
INSERT [dbo].[Linha] ([LinhaId], [LinhaCodigo], [LinhaDescricao]) VALUES (3, N'0002', N'FLAMENGO')
GO
SET IDENTITY_INSERT [dbo].[Linha] OFF
GO
