@model Quiron.LojaVirtual.Dominio.Entidades.Produto



<div class="well">
    <h3><strong>@Model.Nome</strong>  </h3>
    <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>
    <h3>  <span class="lead">@Model.Descricao</span></h3>
</div>
