<div class="recent-posts blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title -->
                <div class="section-title">
                    <h4><i class="fa fa-check-square-o"></i> &nbsp;Escolha sua marca</h4>
                </div>

                <div id="item-carousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <!-- Image link -->
                                        <a href="/nav/0002/adidas">
                                            <img src="/marcas/adidas.jpg" class="img-responsive" alt="" />
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0005/asics">
                                            <img src="/marcas/asics.jpg" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/1239/caloi">
                                            <img src="/marcas/caloi.jpg" class="img-responsive" alt="" />
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0082/fila">
                                            <img src="/marcas/fila.jpg" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0130/mizuno">
                                            <img src="/marcas/mizuno.jpg" class="img-responsive" alt="" />
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0073/nike">
                                            <img src="/marcas/nike.jpg" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0117/topper">
                                            <img src="/marcas/topper.jpg" class="img-responsive" alt="" />
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/1042/olympikus">
                                            <img src="/marcas/olympikus.jpg" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0081/penalty">
                                            <img src="/marcas/penalty.jpg" class="img-responsive" alt="" />
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0091/puma">
                                            <img src="/marcas/puma.jpg" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0098/reebok">
                                            <img src="/marcas/reebok.jpg" class="img-responsive" alt="" />
                                        </a>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="s-item">
                                        <a href="/nav/0118/umbro">
                                            <img src="/marcas/umbro.jpg" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left c-control" href="#item-carousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="right c-control" href="#item-carousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>
