
<div class="navi">
    <ul id="main-menu" class="sm sm-simple">
        <li>
            <a href="#">ESPORTES</a>
            <ul id="esportes"></ul>
        </li>
        <li>
            <a href="#">HOMENS</a>
            <ul id="homens"></ul>
        </li>
    </ul>
</div>
