
<div class="navi">
    <ul id="main-menu" class="sm sm-mint">
        <li>
            <a href="#">ESPORTES</a>
            <ul id="esportes"></ul>
        </li>

        <li>
            <a href="#">HOMENS</a>
            <ul>
                <li>
                    <a href='#'>CALÇADOS</a>
                    <ul>
                        <li><a href='#'>CHUTEIRA</a></li>
                        <li><a href='#'>CHINELO</a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'>ROUPAS</a>
                    <ul>
                        <li><a href='#'>CAMISA DE TIMES</a></li>
                        <li><a href='#'>BERMUDAS</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">MULHERES</a>
            <ul>
                <li>
                    <a href='#'>CALÇADOS</a>
                    <ul>
                        <li><a href='#'>Linha Casual</a></li>
                        <li><a href='#'>Linha Training</a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'>ROUPAS</a>
                    <ul>
                        <li><a href='#'>CAMISETAS</a></li>
                        <li><a href='#'>CALÇAS</a></li>
                        <li><a href='#'>BERMUDAS</a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'>ACESSÓRIOS</a>
                    <ul>
                        <li><a href='#'>CAMISA DE TIMES</a></li>
                        <li><a href='#'>BERMUDAS</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">CALÇADOS</a>
            <ul>
                <li>
                    <a href='#'>MARCAS</a>
                    <ul class="marcas"></ul>
                </li>

                <li>
                    <a href='#'>ESPORTES</a>
                    <ul class="esportes"></ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">ROUPAS</a>
            <ul>
                <li>
                    <a href='#'>MARCAS</a>
                    <ul class="marcas"></ul>
                </li>

                <li>
                    <a href='#'>ESPORTES</a>
                    <ul class="esportes"></ul>
                </li>

            </ul>
        </li>



        <li>
            <a href="">TIMES</a>
            <ul>
                <li>
                    <a href="#">NACIONAIS</a>
                    <ul id="clubesnacionais"></ul>
                </li>

                <li>
                    <a href="#">INTERNACIONAIS</a>
                    <ul id="clubesinternacionais"></ul>
                </li>

                <li>
                    <a href="#">SELEÇÕES</a>
                    <ul id="selecoes"></ul>
                </li>

            </ul>
        </li>

    </ul>
</div>
