<div class="navi">
    <ul id="main-menu" class="sm sm-mint">

        <li>
            <a href="#">ESPORTES</a>
            <ul id="esportes"></ul>
        </li>

        <li>
            <a href="/nav/genero/0002/homens/">HOMENS</a>
            <ul>
                <li>
                    <a href='/nav/genero/0002/homens/0003/calcados'>CALÇADOS</a>
                    <ul>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0082/chuteira-campo'>CHUTEIRA DE CAMPO</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0136/chuteira-society'>CHUTEIRA SOCIETY</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0084/tenis'>TENIS</a></li>
                    </ul>
                </li>
                <li>
                    <a href='/nav/genero/0002/homens/0001/roupas'>ROUPAS</a>
                    <ul>
                        <li><a href='#'>CAMISA DE TIMES</a></li>
                        <li><a href='#'>BERMUDAS</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/nav/genero/0001/mulheres/">MULHERES</a>
            <ul>
                <li>
                    <a href='#'>CALÇADOS</a>
                    <ul>
                        <li><a href='#'>Linha Casual</a></li>
                        <li><a href='#'>Linha Training</a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'>ROUPAS</a>
                    <ul>
                        <li><a href='#'>Camisetas</a></li>
                        <li><a href='#'>Calças</a></li>
                        <li><a href='#'>Bermudas</a></li>
                    </ul>
                </li>
                <li>
                    <a href='#'>ACESSÓRIOS</a>
                    <ul>
                        <li><a href='#'>CAMISA DE TIMES</a></li>
                        <li><a href='#'>BERMUDAS</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/nav/0003/calcados/">CALÇADOS</a>
            <ul>
                <li>
                    <a href='#'>MARCAS</a>
                    <ul id="calcadosmarcas"></ul>
                </li>

                <li>
                    <a href='#'>ESPORTES</a>
                    <ul class="esportes"></ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/nav/0001/calcados/">ROUPAS</a>
            <ul>
                <li>
                    <a href='#'>MARCAS</a>
                    <ul id="roupasmarcas"></ul>
                </li>

                <li>
                    <a href='#'>ESPORTES</a>
                    <ul class="esportes"></ul>
                </li>

            </ul>
        </li>


        <li>
            <a href="">TIMES</a>
            <ul>
                <li>
                    <a href="#">NACIONAIS</a>
                    <ul id="clubesnacionais"></ul>
                </li>

                <li>
                    <a href="#">INTERNACIONAIS</a>
                    <ul id="clubesinternacionais"></ul>
                </li>

                <li>
                    <a href="#">SELEÇÕES</a>
                    <ul id="selecoes"></ul>
                </li>

            </ul>
        </li>


        <li>
            <a href="#">MARCAS</a>
            <ul id="marcas"></ul>
        </li>



    </ul>
</div>