<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteModalLabel">Exclusão</h4>
            </div>

            <div class="modal-body">
                <input type="hidden" />
                <p>Deseja excluir o produto <em><strong>"<span></span>"</strong></em>&nbsp;?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" type="button">Confirmar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>

    $(function () {

        //Abrir o modal

        $(".btn-xs").click(function (e) {
            e.preventDefault();
            var id = this.id;
            var nome = this.name;
            $("#deleteModal .modal-body input[type=hidden]").val(id);
            $("#deleteModal .modal-body span").text(nome);
            $("#deleteModal").modal('show');
        });

        $("#deleteModal .modal-footer button").click(function (e) {
            e.preventDefault();
            var url = "/Administrativo/Produto/Excluir/";
            var id = $(".modal-body input[type=hidden]").val();
            var rowNo = '#row-' + id;

            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: { produtoId: id },
                beforeSend: function () {
                    var loading = "<span><em>Excluindo</em>&nbsp;<i class='glyphicon glyphicon-refresh icon-refresh-animate'></i></span>";
                    $('#deleteModal .modal-header h4').after(loading);
                },
                success: function () {

                    $('#deleteModal').modal('hide');

                    $(rowNo).animate({ opacity: 0.0 }, 400, function () {
                        $(rowNo).remove();
                    });
                },
                complete: function (data) {
                    $("#divexcluir").empty();
                    $("#divexcluir").addClass("alert alert-success");
                    $("#divexcluir").html(data.responseText);
                }
            });
        });
    });
</script>