@using Quiron.LojaVirtual.Web.HtmlHelpers

@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel



@foreach (var p in Model.Produtos)
{
    @Html.Partial("ProdutoDetalhes",p)
}


<div class="btn-group pull-right">
    @Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))
</div>